@charset "UTF-8";


/*
Cor principal	Laranja forte	#FF6B00
Hover / destaque	Laranja escuro	#E85D04
Fundo claro	Creme	#FFF4E6
Fundo escuro	Marrom escuro	#3A2E2A
Texto	Cinza quase preto	#2B2B2B
*/

*{
 /*font-family: Arial, sans-serif;*/
}


body {
    font-family: Arial, sans-serif;
    background-color: #FFF4E6; 
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #FF6B00, #E85D04);
    color: white;
    padding: 20px;
    text-align: center;
}

#limparRelatorios {
    background-color: #E85D04;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 5px;
}
#limparRelatorios:hover {
    background-color: #FF6B00;
}
#back {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #FF6B00;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 5px;
}
.botoes-acoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}